.nav-bk3{
    background: #e4c309;  
    background: -webkit-linear-gradient(to right, #c71f81, #d40adb60);  
    background: linear-gradient(to right, #c51a1aea, #f1703dce); 
    
    }
    .nav-item{
        color: azure;
      
      }
